*~
.#*
__pycache__
.vim/bundle
vim/bundle/vimwiki/doc/tags
vim/.netrwhist
drush/cache
drush/*.aliases.drushrc.php
drush/cloudapi.acquia.com.pem
.emacs.desktop
.emacs.desktop.lock
emacs.d/ac-comphist.dat
emacs.d/bookmarks
emacs.d/backup
emacs.d/url/cookies
emacs.d/secrets.el
emacs.d/session.*
emacs.d/tramp
emacs.d/elpa
emacs.d/el-get/el-get/
emacs.d/el-get
emacs.d/ido.last
emacs.d/projectile-bookmarks.eld
emacs.d/recentf
