[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
  ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/git"]
	path = vim/bundle/git
	url = http://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = http://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = http://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/blackboard"]
	path = vim/bundle/blackboard
	url = http://github.com/bwyrosdick/vim-blackboard.git
